div#headerLogo {
    background-image: url(/images/baftaLogoAdmin.png);
    width: 313px;
    height: 72px;
    float: left;
    background-repeat: no-repeat;
    margin:14px 20px 14px -50px;
}

div#contentOuterWrapper {
    background-image: none;
    background-color: #fff;
}

body {
    background-color: #fff;
}

/* Change BAFTA blue */
/* Gold */
div.text, a {
    color: #ad8f59;
}

